    <!-- About Section -->
    <section id="contributors" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>기여자</h2>
                <p>한국독립게임마당이 하는 일들에 기여한 분들입니다.</p>
                <ul>
                {% for org_hash in site.data.orgs %}
                {% assign org = org_hash[1] %}
                  <li>
                    <a href="https://github.com/{{ org.username }}">
                      {{ org.name }}
                    </a>
                    ({{ org.members | size }} members)
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>