    <!-- Library Section -->
    <section id="history" class="content-section text-center">
        <div class="history-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>연&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;혁</h2>
                    <p>2014.06.11 **그랬다고 합니다 ~시연 삼국지화 공식 뒷이야기~** 위탁판매<br />2014.03.14 <b>스타더스트 임페리엄 PNP 에디션</b> 위탁판매<br />2014.04.21 독립게임 도서관 정식 열림<br />2014.03.11 <b>시, 연 삼국지화 / 시, 연 삼국지화 OST</b> 위탁판매<br />2014.01.18 <b>스타더스트 임페리엄</b> 공식 누리집 개설<br />2013.11.26 <b>스타더스트 임페리엄</b> 위탁판매<br />2013.11.26 한국독립게임마당 정식 열림<br />2013.11.01 네이버 샵N 개설<br />2013.09.08 네이버 오픈캐스트 개설<br />2013.08.03 한국독립게임마당 임시 열림<br />2013.04.30 프로젝트 시작</p>
                </div>
            </div>
        </div>
    </section>