    <!-- Library Section -->
    <section id="library" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>독립게임 도서관</h2>
                    <p>독립게임 도서관에 기록된 대한민국의 독립창작 게임들을 살펴보실 수 있습니다.</p>
                    <a href="https://indiegameyard.github.io/library/" class="btn btn-default btn-lg">방문하기</a>
                </div>
            </div>
        </div>
    </section>